body{
  background-color: rgb(176, 199, 241);
}
.full-page {
  height: 100%!important;
  width: 100%!important;
  margin: 0px!important;
}
input{
  margin: 5px;
}
.App {
  text-align: center;
}
#main-header{
  border-bottom: 1px black solid;
}
#friends-div{
  border-left: 1px black solid;
}
.main-body{
  height: 700px;
}
.login-div{
  width: 75%;
  border: solid 1px black;
  margin: 20px;
}
#profile-picture{
  width: 200px;
}
#passwordMismatch{
  display: none;
}
.red{
  color: rgb(133, 36, 36);
}