body, html{
  background-color: rgb(176, 199, 241);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.left,
.right,
.center {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll; 
  text-align: center;
}
.content {
  padding: 75px 0;
  margin: 30px auto 0 auto;
  width: 90%;
}
input{
  margin: 5px;
}
.App {
  text-align: center;
}
#friends-div{
  
}
.login-div{
  width: 85%;
}
#profile-picture{
  width: 200px;
}
#passwordMismatch{
  display: none;
}
.red{
  color: rgb(133, 36, 36);
}
.hidden{
  display: none;
}
#navButtons{
  margin: 10px;
  padding: 2px;
}
#bird-img {
  width: auto;
  height: auto;
  max-width: 95%;
  max-height: 95%;
}